@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

body.dark {
  background-color: rgb(56, 56, 56);
  color: #fefefe;
}
body.dark nav {
  background-color: rgb(41, 41, 41);
}
body.dark nav ul li a {
  color: #fefefe;
}
body.dark nav ul li a span {
  color: #29fd53;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: rgb(235, 235, 235);
  height: 80px;
}
nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  height: 80px;
}
nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
}

h1 {
  margin-top: 80px;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

nav ul li a {
  color: rgb(46, 41, 41);
  text-decoration: none;
  opacity: 0;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}
nav ul li a span {
  color: rgb(58, 59, 58);
}

ion-icon {
  font-size: 1.5em;
}
ion-icon:hover ~ a {
  transition: 0.5s ease-in-out;
  opacity: 1;
}

li.active ion-icon ~ a {
  opacity: 1;
  transform: translateY(10px);
}

body.dark li.active ion-icon {
  color: #29fd53;
}

.bottom-line {
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid red;
}

.bottom-line::before {
  position: absolute;
  content: "";
  bottom: 14px;
  width: 80%;
  height: 16px;
  background: #29fd53;
  border-radius: 10px;
}

p,
h1,
h2 {
  width: 80%;
  padding: 16px;
  text-align: justify;
}
h1 {
  font-size: 5em;
  margin-top: 80px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.toggle-mode {
  padding: 0.1em;
  margin-top: 0.5em;
  cursor: pointer;
  border-radius: 50%;
  /* border: 0.07em solid #000000; */
  box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.5);
}

body.dark .toggle-mode {
  border: 0.07em solid #29fd53;
  color: #29fd53;
  box-shadow: 2px 8px 15px rgba(255, 255, 255, 0.35);
}

body.dark .toggle-mode:hover ~ span {
  color: #29fd53;
}
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn span {
  font-size: 0.7em;
  opacity: 0;
  transition: 0.5s ease-in;
}
.toggle-mode:hover ~ span {
  color: rgb(0, 0, 0);
  opacity: 1;
}
